<div class="w-full h-[42px] px-4 py-2.5 bg-[#0455ad] rounded-lg flex justify-between items-center">
  <div class="text-white text-base font-semibold font-['Inter'] leading-snug">รวม</div>
  <div class="text-white text-base font-semibold font-['Inter'] leading-snug">
    <%= number_to_currency(@billing.total_price, unit: "", delimiter: ",") %> บาท
  </div>
</div>
