<div class="sticky top-0 flex flex-wrap h-14 px-4 py-2 border-b border-[#c1c1c1] bg-white justify-between items-center">
    <img class="w-10 h-10" src="/images/odds_logo.png" />
    <div class="text-black text-base font-semibold font-['Inter'] leading-snug">
        Odds Merchandise
    </div>
</div>
